
.menu {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
    transform: translate(-285px);
    transition: all 1s ease;
}

.menu:hover {
    transform: translate(0);
}

.link {
    text-decoration: none;
    color: #012d01;
    font-weight: bold;
}

.active {
    color: green;
}

.icon {
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;
    cursor: pointer;
}
