.inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input {
    display: flex;
    gap: 10px;
}

.someClass {

}

.error {
    border: 1px solid red;
}

.errorText {
    color: red;
}

